<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<%# Alternativa "manual" usando HTML %>
<img src="ImagenDeApoyo.jpg" alt="Estoy en public :D eh eh eh!">
<%# Usando helper img_tag %>
<%= image_tag 'ImagenDeApoyo.jpg', class: "", alt:"Coffee & Laptop" %>